nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background-color: rgba(0,0,0,.05);
}

.card-block {
  border-width: .2rem .2rem 0;
  border-radius: 8px;
  padding: 1rem;
  border: .2rem solid #ececec;
}

.completed {
  background-color: rgba(117, 228, 81, 0.35) !important;
}

.not-completed {
  background-color: rgba(230, 74, 132, 0.35) !important;
}